body {
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(0, 0, 0);
}

.topo {
    outline: none;
    border-width: 2px;
    border: solid;
    border-color: #0077ff; /* Verde Escuro */
    background-color: #FFFFFF; /* Branco */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    bottom: 97px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.topo.active {
    opacity: 1;
    visibility: visible;
}

.topo img {
    background-color: #FFFFFF; /* Branco */
}

h1, h2 {
    color: #338bbe; /* Azul padrão do Bootstrap */
}

.container {
    padding: 20px;
    border-radius: 10px;
    
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}